// Variables Bootstrap personnalisées
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// CoreUI pour l'admin
@import '~@coreui/coreui/scss/coreui';

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// Styles personnalisés
@import 'custom';